@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'mixins/button' as *;
@use 'common/var' as *;

$radio-font-size: () !default;
$radio-font-size: map.merge(
  (
    'large': 14px,
    'small': 12px,
  ),
  $radio-font-size
);

@include b(radio) {
  @include set-component-css-var('radio', $radio);
}

@include b(radio) {
  color: getCssVar('radio-text-color');
  font-weight: getCssVar('radio-font-weight');
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  outline: none;
  font-size: getCssVar('font-size', 'base');
  user-select: none;
  margin-right: 30px;
  min-height: 20px;

  @each $size in (large, small) {
    &.#{$namespace}-radio--#{$size} {
      height: map.get($radio-height, $size);
    }
  }

  @include when(bordered) {
    height: map.get($radio-height, 'default');
    padding: 0
      map.get($checkbox-bordered-padding-right, 'default')-$border-width 0
      map.get($checkbox-bordered-padding-left, 'default')-$border-width;

    border-radius: getCssVar('border-radius-base');
    border: getCssVar('border');
    box-sizing: border-box;

    &.is-checked {
      //border-color: getCssVar('color-primary');
    }

    &.is-disabled {
      cursor: not-allowed;
      border-color: getCssVar('border-color-lighter');
    }

    @each $size in (large, small) {
      &.#{$namespace}-radio--#{$size} {
        padding: 0
          map.get($checkbox-bordered-padding-right, $size)-$border-width
          0
          map.get($checkbox-bordered-padding-left, $size)-$border-width;
        border-radius: getCssVar('border-radius-base');

        .#{$namespace}-radio__label {
          font-size: map.get($button-font-size, $size);
        }

        .#{$namespace}-radio__inner {
          height: map.get($radio-bordered-input-height, $size);
          width: map.get($radio-bordered-input-width, $size);
        }
      }
    }
  }

  &:last-child {
    margin-right: 0;
  }

  @include e(input) {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-flex;
    position: relative;
    vertical-align: middle;

    @include when(disabled) {
      .#{$namespace}-radio__inner {
        color: var(--color-gray-900);
        background-color: var(--color-gray-50);
        border-color: var(--color-gray-50);
        cursor: not-allowed;
      }
      &.is-checked {
        .#{$namespace}-radio__inner {
          color: var(--color-gray-900);
          background-color: var(--color-gray-50);
          border-color: var(--color-gray-50);
        }
      }
      & + span.#{$namespace}-radio__label {
        color: var(--color-gray-400);
        cursor: not-allowed;
      }
    }

    @include when(checked) {
      .#{$namespace}-radio__inner {
        color: getCssVar('color-white');
        border-color: var(--color-gray-800);
        background-color: var(--color-gray-800);
      }
    }

    @include when(focus) {
      .#{$namespace}-radio__inner {
        outline: 2px solid rgb(36 48 55 / 80%);
        outline-offset: 2px;
      }
    }
  }
  @include e(inner) {
    color: transparent;
    border: 1px solid var(--color-gray-300);
    border-radius: getCssVar('radio-input-border-radius');
    width: getCssVar('radio-input-width');
    height: getCssVar('radio-input-height');
    background-color: getCssVar('radio-input-bg-color');
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition:
      border-color 0.15s ease,
      background-color 0.15s ease,
      box-shadow 0.15s ease;
  }

  &:not(.is-disabled):not(.is-error):not(.is-checked):hover {
    .#{$namespace}-radio__inner {
      border-color: var(--color-cloudy-gray-800);
    }
  }

  @include when(error) {
    &:not(.is-disabled) {
      .#{$namespace}-radio__inner {
        background-color: var(--color-red-300);
        border-color: var(--color-red-800);
      }

      &.is-checked .#{$namespace}-radio__inner {
        color: getCssVar('color-white');
        background-color: var(--color-red-900);
        border-color: var(--color-red-900);
      }
    }
  }

  @include e(check) {
    width: 10.5px;
    height: 10.5px;
    fill: currentColor;
    flex: none;
  }

  @include e(original) {
    opacity: 0;
    outline: none;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;

    &:focus-visible {
      & + .#{$namespace}-radio__inner {
        outline: 2px solid rgb(36 48 55 / 80%);
        outline-offset: 2px;
      }
    }
  }

  @include e(label) {
    color: var(--color-gray-990);
    font-size: getCssVar('radio-font-size');
    line-height: 20px;
    padding-left: 8px;
  }

  @each $size in (large, small) {
    &.#{$namespace}-radio--#{$size} {
      @include e(label) {
        font-size: map.get($radio-font-size, $size);
      }
      @include e(inner) {
        width: map.get($radio-font-size, $size);
        height: map.get($radio-font-size, $size);
      }
    }
  }
}
