.el-form-item {
  &.is-error {
    .el-input__wrapper {
      background-color: var(--color-red-100);
      border-color: var(--color-gray-500);
    }

    .el-select__wrapper {
      background-color: var(--color-red-100);
      border-color: var(--color-gray-500);
    }

    .el-input__validateIcon {
      color: var(--color-red-600);
    }

    .el-input {
      .error-icon {
        cursor: pointer;
        margin-right: 8px;
      }

      .el-input__clear, {
        margin-right: 0;
      }
    }
  }
}
