@use './font.scss' as *;

.pagination-select {
  .el-select__placeholder {
    font-size: var(--p-font-size-400);
    font-weight: var(--p-font-weight-semibold);
  }
  .el-select__wrapper{
    padding: 0 12px;
  }
}

.el-pagination__jump {
  & ~ .el-pagination__sizes {
    margin-left: 20px;
  }

  .el-input__wrapper {
    padding: 0;
  }
}

.pagination-select-wrap.el-popper.is-light {
  width: 120px;

  .el-select-dropdown {
    width: 100%;
  }
}
